<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.pretzel.jung.mapper.MainMapper">
  <select id="recent_list" resultType="MovieVO">
    select * from movies
    order by insert_time DESC
    limit 10;
  </select>

  <select id="thema_list" parameterType="String" resultType="MovieVO">
    select * from movies
    where thema=#{thema}
    order by rand()
    limit 10;
  </select>
</mapper>