<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.pretzel.ko.mapper.ProfileMapper">

  <select id="profile_list" resultType="ProfileVO">
    SELECT * FROM profiles WHERE user_id = #{user_id}
  </select>

  <select id="profile_detail" resultType="ProfileVO">
    select 
        p.profile_idx,
        p.name,
        p.img_name,
        p.regdate,
        p.user_id,
        p.birth,
        p.gender,
        u.subs,
        u.subs_date,
        u.subs_update,
        p.like_thema as like_themaAsString  <!-- 문자열로 매핑 -->
    from profiles p
    left join users u on p.user_id = u.user_id
    where p.profile_idx = #{profile_idx}
</select>

  <insert id="profile_insert" parameterType="ProfileVO">
    insert into profiles(name, img_name, regdate, user_id, like_thema, birth, gender) 
    values(#{name}, #{img_name}, NOW(), #{user_id}, #{like_themaAsString}, #{birth}, #{gender})
  </insert>

  <update id="profile_update" parameterType="ProfileVO">
    update profiles 
    set name = #{name}, img_name = #{img_name}, like_thema = #{like_themaAsString}
    where profile_idx = #{profile_idx}
  </update>

  <delete id="profile_delete">
    delete from profiles where profile_idx = #{profile_idx}
  </delete>

</mapper>