<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.pretzel.ko.mapper.TossMapper">

    <!-- 토스 결제 정보 -->
    <insert id="toss_insert" parameterType="TossVO">
        insert into toss(orderId, orderName, amount, approvedAt, paymentKey, user_id) 
        values(#{orderId}, #{orderName}, #{amount}, #{approvedAt}, #{paymentKey}, #{user_id})
    </insert>

    <!-- 구독권 업데이트 -->
    <update id="subs_update" parameterType="map">
        update users
        set subs_update = CASE
                WHEN subs IS NOT NULL 
                    THEN CONCAT(COALESCE(subs_update, ''), #{subs_value})
                ELSE subs_update
            END,
            subs_date = CASE
                WHEN subs IS NOT NULL 
                    THEN subs_date
                ELSE DATE_ADD(NOW(), INTERVAL 30 DAY)
            END,
            subs = CASE
                WHEN subs IS NOT NULL 
                    THEN subs
                ELSE #{orderName}
            END
        WHERE user_id = #{user_id};
    </update>

</mapper>
