<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.pretzel.ko.mapper.UserMapper">

    <select id="login" parameterType="UserVO" resultType="UserVO">
        select * from users where user_id=#{user_id}      
    </select>

    <select id="id_check" resultType="int">
        select count(*) from users where user_id=#{user_id}
    </select>

    <select id="email_check" resultType="int">
        select count(*) from users where email=#{email}
    </select>

    <insert id="join" parameterType="UserVO">
        insert into users(user_id, pwd, name, email, regdate) 
        values(#{user_id}, #{pwd}, #{name}, #{email}, NOW())
    </insert>

    <select id="find_id" parameterType="UserVO" resultType="String">
        select user_id from users where name = #{name} and email = #{email}
    </select>

    <select id="find_pwd" parameterType="UserVO" resultType="String">
        select user_id from users where user_id = #{user_id} and email = #{email}
    </select>

    <update id="pwd_update" parameterType="UserVO">
        update users 
        set pwd = #{pwd}
        where user_id = #{user_id}
    </update>

    <!-- email로 users 테이블에 있는지 찾기 --> 
    <select id="findUserByEmail" resultType="UserVO">
        select * from users where email = #{email}
    </select>

    <!-- sns가 처음 로그인 했을 때 -->
    <insert id="insertUser" parameterType="UserVO">
        INSERT INTO users (user_id, pwd, email, name) 
        VALUES (#{user_id}, #{pwd}, #{email}, #{name})
    </insert>

    <!-- 처음이 아니면 업데이트-->
    <update id="updateUser" parameterType="UserVO">
        Update users
        set last_login = NOW()
        where user_id = #{user_id}
    </update>


</mapper>
